@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

table{
    background-color: rgb(24, 24, 24);
    color: white;
    margin: auto;
    width: 20%;
    padding: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titulo{
    margin: 10% auto;
    margin-bottom: 0;
    background-color: #181818;
    color: #f1f1f1;
    width: 20%;
    text-align: center;
    padding: 1.5% 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr{
    text-align: center;
    align-items: center;
}

td{
    font-size: 2vw;
    background-color: #474747;
    border: #474747 solid 1px;
    border-radius: 10px;
    width: 25%;
    padding: 3%;
    transition: 0.3s;
    text-align: center;
}

td:hover{
    background-color: #303030;
}

.laranja{
    background-color: #2e2bdb;
}

.laranja:hover{
    background-color: #2624c0;
}

.cinza{
    background-color: #c0c0c0;
    color: rgb(31, 31, 31);
    width: 25%;
}

.cinza:hover{
    background-color: #acacac;
}

#resultado{
    width: 14.1% !important;
    height: 50px;
    background-color: #d3d3d3;
    font-size: 3em;
    margin: auto;
    padding: 1%;
    border-left: #181818 solid 37px;
    border-right: #181818 solid 37px;
    text-align: right;
}